{% extends 'ExampleExampleBundle::default_layout.html.twig' %}
{% block title %}ユーザ登録完了{% endblock %}
{% block main %}
<h1>ユーザ登録完了</h1>

<div class="well">
  <p>ご登録ありがとうございます。</p>

  <p>
  <a href="/">トップへ</a>
  </p>
</div>
{% endblock %}
